<!doctype html>
<html lang="en">


 


  <body>
  
 <%- include('partials/header.ejs') %>
    

  
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <h2>STUDENT PANEL</h2>
    </div>
    <nav class="main-nav" role="navigation">
      <ul class="sidebar-nav unstyled list-hover-slide">
        
        <li >
          <a  href="/articleStudentView">MY ARTICLES</a>
        </li>
        <li >
          <a  href="/emploistempsProfView">EMPLOIS DE TEMPS</a>
        </li>
        <li >
          <a  href="/contributionStudentView">MY CONTRIBUTION</a>
        </li>
        <li >
          <a  href="/documentsStudentView">DOCUMENTS</a>
        </li>
        <li >
          <a  href="/noteStudentView">MY GRADES</a>
        </li>
        <li >
          <a  href="/absenceStudentView">MY ABSENCES</a>
        </li>
      </ul>
      </nav>
  </aside>

    <div id="wrapper" class="nav-wrap">
 


      <div id="navbar-wrapper">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <h3 style="padding-right: 730px;color: black;">Home Page</h3>
              
            </div>
          </div>
        </nav>
      </div>
      
        
        <div>
          <div  class="container " style="padding-top: 9px;">
              <div class="row" style="padding: 15px;">
                  <div class="col-md-6">
                      <div class="card">
                          <div class="card-body container card text-white bg-primary mb-3"  >
                              <h1 class="text-center"> <h1 class="text-center"><%= totals[0].totalArticles %></h1></h1>
                              <h3>Articles posted</h3>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="card">
                          <div class="card-body container card text-white bg-primary mb-3"  >
                              <h1 class="text-center"> <%=totals[0].retards %></p>
                              <h3>Retards (hours) </h3>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <%- include('partials/footer.ejs') %>
   </body>
</html>